/* Estilos generales */
body {
    background-color: #f0f0f0;
    text-align: center;
}

/* Estilos del canvas */
#canvas {
    border: 2px solid black;
    display: block;
    margin: auto;
}

